
input[type=text]:focus
{
    // border-color: darkgray;
    color:darkslategray;
}
.text-area:focus{
    border-color: darkgray;
    color:darkslategray;
}

.client-info
{
    box-shadow: 1px 2px 8px 0px #d6d5d5;
    background-color: rgb(255, 255, 255);
    height: 40px;
    margin-top:-15px;  
}
.one 
{
    background-color: #700b8659;
    /* background-color: #a3bfd0b8; */
    padding-top: 3px;
    /* border-radius: 8px 0px 0px 8px; */
    text-align: center;
    height: 40px;
    margin-left: 0px;
}
.one i{
    color:white;
}
.active-one
{
    background-color: #51a56891;
   
}
.inactive-one
{ 
    background-color:#ea7a7acc;
}
.fontst
{
    margin-right: -15px;
}
.c-status-row
{
    width:950px;
    margin-left: 8px;
    margin-top:20px;
    height:40px;
} 

.c-status-text
{
    font-size: 16px;
    margin-top: 8px;
    text-align: left;
    float:left;
}
.fontst h4
{
    font-size:18px;
    float: left;
    margin-top:10px;
    margin-left: 20px;
}
.border:focus{
    // outline-color: #73b440;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #73b440;
    box-shadow: 0 0 5px #73b440;
    // padding: 3px 0px 3px 3px;
    // margin: 5px 1px 3px 0px;
    border: 1px solid #73b440;
    outline: 0 none;
}
// .c-search-input
// {
//     position: absolute;
//    top:10.5em;
//    left:60em;
//    width: 150px;
//    border-top:none !important;
//    border-right:none !important;
//    border-left:none !important;
//    border-bottom:1px solid#797a7a59;
//    border-radius: unset;
//    background-color: #fafafa;
//    font-size: 14px;
// }
// .c-search-input:focus{
//     // outline: none;
//     outline-color: blue;
// }
// .c-search-input::-webkit-input-placeholder { 
//     font-family: FontAwesome;
// }