.card {
    box-shadow: unset !important;
}
.navbar {
    box-shadow: unset !important;
}

.form-control{
    border-right: none !important;
    border-left:none !important;
    border-top:none !important;
    height: 25px !important;
    padding: 0px !important;
}
.addUserBtn{
    
    margin-top: 3px;
}

* {
    font-family: 'Nunito Sans', sans-serif;
  }