.custom_select{
    width: 200px !important;
}

.react-confirm-alert{
    width: 33% !important;
}
.order-edit-icon{
    margin-top: -38px !important;
}

.form-check-input[type=radio] {
    border-color: #142e71 !important;
}