.ForgetPassword-container
{
    width:350px;
    height:300px;
    margin-left:500px;
    margin-top:150px;
    background-color: #d3d3d838;
}
.head
{
    height:60px;
}
.leads
{
    color:slateblue;
    font-size: 18px;
    padding-top: 20px;
    padding-left:10px;
    font-weight:600;
}
input[type=email]:focus
{
    border-color: darkgray;
    color:darkslategray;
}