.main-container
{
    width:100%;
    height:100%;
   
   
}
// #login
// {
//     background-image: url("/images/container-login-image.jpg");
// }
.child
{
    float:left;
}
#header
{
    top:0.5em;
    margin-left:100px;
    margin-top:100px;
}
.form-container
{
    margin-top: 50px;
}
#login-container
{
    width:400px;
    height:450px;
    margin-left:50px;
    margin-top:170px;
    border-radius: 1px;
    // background-color:floralwhite;
    background-color: #f9fbfdb3;
   
}
.heading
{
    color:cornflowerblue;
}
.head
{
    height:50px;
}
.lead
{
    color:slateblue;
    font-size: 18px;
    padding-top: 10px;
    padding-left:10px;
    font-weight:600;
}
.sign-link
{
    border:none;
    position:absolute;
    right: 0.2em;
    top:1.0em;
    background: none;
    color:steelblue;
}
#signup-btn
{
    background-color:slateblue;
    border-radius: 35px;
    height:60px;
    color:white;
    font-size:16px;
    font-weight:400;
    text-transform: none;
}
.form-control
{
    border-right: none !important;
    border-left:none !important;
    border-top:none !important;

}
.signup-text
{
    margin-left: 720px;
    // color:black;

}
.field-label
{
    font-size: 14px;
}

.bottom
{
    margin-top:30px;
}