.login-container{
    height: 100%;
    width: auto;
    background: #f2f5fe;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.login-container input, .login-container button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Nunito Sans', sans-serif;
}

.login-container .tip {
  font-size: 20px;
  margin: 30px auto 20px;
  text-align: center;
}

.login-container .cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    /* margin: 0 auto 100px; */
    background: #f3f3f3;
    box-shadow: 0px 3px 8px rgb(33 33 33 / 50%);
}

.login-container .form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
  background-image: url('/images/login.png');
}

.login-container .card{
    overflow: none;
}
.login-container .sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.login-container .cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}

.login-container button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.login-container .img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}
.login-container .img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("/images/logsc.png");
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.login-container .img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.login-container .cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}
.login-container .img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.login-container .img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.login-container .img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.login-container .cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}
.login-container .img__text.m--in {
  transform: translateX(-520px);
}
.login-container .cont.s--signup .img__text.m--in {
  transform: translateX(0);
}
.login-container .img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.login-container .img__btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.login-container .img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.login-container .img__btn span.m--in {
  transform: translateY(-72px);
}
.login-container .cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}
.login-container .cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}

.login-container h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

.login-container label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
.login-container label span {
    font-size: 15px;
    color: #00acc7;
    text-transform: uppercase;
    font-weight: 600;
}

.login-container input {
    display: block;
    width: 100%;
    margin-top: 12px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgb(0 0 0 / 20%);
    text-align: center;
    height: 35px;
    border-radius: 5px;
    background: #f8faff;
}

.login-container .forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.login-container .submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #00acc7;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgb(130 130 130 / 50%);
}

.login-container .fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.login-container .fb-btn span {
  font-weight: bold;
  color: #455a81;
}

.login-container .sign-in {
  transition-timing-function: ease-out;
}
.login-container .cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}

.login-container .sign-up {
  transform: translate3d(-900px, 0, 0);
}
.login-container .cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}

.login-container .icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.login-container .icon-link img {
  width: 100%;
  vertical-align: top;
}
.login-container .icon-link--twitter {
  left: auto;
  right: 5px;
}

.login-container @media only screen and (min-width: 1200px) {
.login-container     .container {
      max-width: fit-content;
    }
  }
  
.login-container .error{
  font-size: 0.7em;
  text-transform: none;
  color: #e3342f;
}