.size
{
    padding-left: 15px;
}
.table tr td, .table tr th 
{
    font-size: 12px;
}
.data-heading
{
    color: black;
}
.title
{
    font-weight: 500;
    color:black;
    padding-left: 13px;
}
.align
{
    padding-left: 20px;
}
.align-sell
{
    padding-left: 33px;
}
.paidby
{
    padding-bottom: 48px;
}
th
{
    font-weight: 500;
    color:black
    max-width 169px;
}
b
{
    color: black;
}