.dzu-dropzone {
    overflow: unset !important;
    border-radius: 5px !important;
    border: 1px dashed #6c757d !important;
    margin-bottom: 1rem !important;
}

.dzu-previewContainer {
    padding: 5px !important;
}

.img-thumbnail {
    max-width: 50% !important;
    height: 40px !important;
    margin-top: 1rem !important;
    background-color: unset !important;
    border: unset !important;
    border-radius: unset !important;
}

.file_name {
    font-size: 13px;
    color: #393c45;
    margin-top: 25px;
}

.file_status {
    color: #48cfad;
}

.file_action {
    float: right;
    margin-right: 3rem;
    margin-top: 1.5rem;
    font-size: 23px;
}

.file_doc_type div {
    margin-top: 14px !important;
}

.file_doc_type label {
    font-size: 10px !important;
    float: right !important;
    color: #44c4a1 !important;
}

.file-container {
    border: 1px dashed #343a40;
    text-align: center;
    min-width: 100%;
    border-radius: 10px;
}