// .scroll-div{
//     overflow-y: scroll;
//     height: 450px;
// }
// .userlist{
//     list-style: none;
// }
// .loanOrder{
//     color:white;
// }
// .openOrder{
//     background-color: #57b9a9;
// }
// .todayOrder{
//     background-color: #818af9;
// }
// .pendingOrder{
//     background-color: #3490dccc ;
// }
// .closedOrder{
//     background-color: #545050;
// }
.card-content
{
    box-shadow: 1px 2px 8px 0px #d6d5d5;
    background-color: rgb(255, 255, 255);
    height: 80px;
    padding-top:20px;
    padding-bottom:20px;
}
.card-info 
{
   text-align:center !important;
//    padding-top:30px !important;
  
}
.card-head
{
    text-align: center !important;
    // padding-top:10px !important;
}
.has-search-form{
    margin-top: -30px;
    margin-bottom: 40px;
}